<div class="row">

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">usuario</h4>
                <div class="table-respon">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let usuario of usuarios" [routerLink]="['/usuarios']" class="pointer">
                                <td>
                                    <img [src]="usuario.img | imagen:'usuario'" alt="" class="img-fluid img-circle img-50">
                                </td>
                                <td>
                                    {{ usuario.nombre }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-info" *ngIf="!usuarios.length">
                    No se encontraron resultados
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medicos</h4>
                <div class="table-respon">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let medico of medicos" [routerLink]="['/medico', medico._id]" class="pointer">
                                <td>
                                    <img [src]="medico.img | imagen:'medico'" alt="" class="img-fluid img-circle img-50">
                                </td>
                                <td>
                                    {{ medico.nombre }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-info" *ngIf="!medicos.length">
                    No se encontraron resultados
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospitales</h4>
                <div class="table-respon">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let hospital of hospitales" [routerLink]="['/hospitales']" class="pointer">
                                <td>
                                    <img [src]="hospital.img | imagen:'hospital'" alt="" class="img-fluid img-circle img-50">
                                </td>
                                <td>
                                    {{ hospital.nombre }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-info" *ngIf="!hospitales.length">
                    No se encontraron resultados
                </div>
            </div>
        </div>
    </div>
</div>