<div class="row">
    <div class="col-6">
        <div class="card">        
            <div class="card-body">
                <h4 class="card-title">{{ graficos.grafico1.leyenda }}</h4>
                <app-doughnut-chart [grafico-labels]="graficos.grafico1.labels" [grafico-data]="graficos.grafico1.data" [grafico-type]="graficos.grafico1.type"></app-doughnut-chart>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">        
            <div class="card-body">
                <h4 class="card-title">{{ graficos.grafico2.leyenda }}</h4>
                <app-doughnut-chart [grafico-labels]="graficos.grafico2.labels" [grafico-data]="graficos.grafico2.data" [grafico-type]="graficos.grafico2.type"></app-doughnut-chart>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">        
            <div class="card-body">
                <h4 class="card-title">{{ graficos.grafico3.leyenda }}</h4>
                <app-doughnut-chart [grafico-labels]="graficos.grafico3.labels" [grafico-data]="graficos.grafico3.data" [grafico-type]="graficos.grafico3.type"></app-doughnut-chart>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">        
            <div class="card-body">
                <h4 class="card-title">{{ graficos.grafico4.leyenda }}</h4>
                <app-doughnut-chart [grafico-labels]="graficos.grafico4.labels" [grafico-data]="graficos.grafico4.data" [grafico-type]="graficos.grafico4.type"></app-doughnut-chart>
            </div>
        </div>
    </div>
</div>